@media(min-width: 1800px) {
    #lessons {
        min-height: 650px;
        background-position: center
        -webkit-background-size: cover;
        background-size: cover;
    }
}


@media(min-width: 1600px) {
    #result .container {
        font-size: 21px;
    }
} 

@media(min-width: 1920px) {
    #result .container {
        font-size: 24px;
    }
}

@media(max-width: 1280px) {
    .left-treug {
        border-left: 640px solid #fff !important;
    }
        
    .right-treug {
        border-right: 640px solid #fff !important;
    }
        
}

